<a href="https://colab.research.google.com/github/bugcaps/workjob/blob/main/3%EB%8B%A8%EA%B3%84_%EC%A3%BC%EC%86%8C%EC%A0%95%EB%B3%B4GEO%EC%A0%95%EB%B3%B4%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0_%EA%B5%AC%EA%B8%80api_%EB%88%84%EB%9D%BD%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B3%B4%EC%99%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 드라이브  연결
from google.colab import drive
drive.mount('/content/drvie')

Mounted at /content/drvie

In [ ]:
!ls /content/drvie/MyDrive/apartHome/실거래가

 2019_21_서울경기_40_130.csv
 2019_21_서울경기_40_130_GEO.csv
'아파트(매매)__실거래가_2019_서울.csv'
'아파트(매매)__실거래가_2019_경기도.csv'
'아파트(매매)__실거래가_2020_서울.csv'
'아파트(매매)__실거래가_2020_경기도.csv'
'아파트(매매)__실거래가_2021_서울.csv'
'아파트(매매)__실거래가_2021_경기도.csv'
 2021_성동구.csv
 2021수도권.html
 서울경기아파트주소.csv
 서울경기아파트주소_GEO.csv
 location_2000.csv
 test.csv

In [ ]:
import pandas as pd
geoadds = pd.read_csv('/content/drvie/MyDrive/apartHome/실거래가/서울경기아파트주소_GEO.csv')

## google api key를 조회하여 설정한다.

In [ ]:
import json

# with를 이용해 파일을 연다.
# json 파일은 같은 폴더에 있다고 가정!
GAPI_KEY =''

with open('/content/drvie/MyDrive/apartHome/apikey.txt') as json_file:
    json_data = json.load(json_file)
   
    # 문자열
    # key가 json_string인 문자열 가져오기
    GAPI_KEY = json_data["api_key"]

In [ ]:
geoadds

       index                            주소  ...         lon        lat
0          0         서울특별시 강남구 개포동 언주로 103  ...  127.052883  37.481300
1          1           서울특별시 강남구 개포동 언주로 3  ...  127.053437  37.483372
2          2         서울특별시 강남구 개포동 개포로 307  ...  127.055758  37.483678
3          3         서울특별시 강남구 개포동 개포로 310  ...  127.057068  37.483381
4          4           서울특별시 강남구 개포동 선릉로 7  ...  127.064735  37.479257
...      ...                           ...  ...         ...        ...
13814  13814        경기도 화성시 오산동 동탄감배산로 143  ...  127.089725  37.195890
13815  13815      경기도 화성시 오산동 동탄기흥로 393-20  ...  127.092657  37.186650
13816  13816  경기도 화성시 장안면 사곡리 밤밭일원길 131-10  ...         NaN        NaN
13817  13817   경기도 화성시 향남읍 장짐리 푸른들판로 251-8  ...  126.911077  37.135798
13818  13818   경기도 화성시 향남읍 장짐리 푸른들판로 251-6  ...  126.911077  37.135798

[13819 rows x 5 columns]

In [ ]:
geoadds.columns
geoadds.set_index('index')

                                 주소  ...        lat
index                                ...
0             서울특별시 강남구 개포동 언주로 103  ...  37.481300
1               서울특별시 강남구 개포동 언주로 3  ...  37.483372
2             서울특별시 강남구 개포동 개포로 307  ...  37.483678
3             서울특별시 강남구 개포동 개포로 310  ...  37.483381
4               서울특별시 강남구 개포동 선릉로 7  ...  37.479257
...                             ...  ...        ...
13814        경기도 화성시 오산동 동탄감배산로 143  ...  37.195890
13815      경기도 화성시 오산동 동탄기흥로 393-20  ...  37.186650
13816  경기도 화성시 장안면 사곡리 밤밭일원길 131-10  ...        NaN
13817   경기도 화성시 향남읍 장짐리 푸른들판로 251-8  ...  37.135798
13818   경기도 화성시 향남읍 장짐리 푸른들판로 251-6  ...  37.135798

[13819 rows x 4 columns]

In [ ]:
#geoadds.drop("Unnamed: 0", axis=1 , inplace=True)
#geoadds.to_csv('/content/drvie/MyDrive/apartHome/실거래가/서울경기아파트주소_GEO.csv', index = False)

In [ ]:
NaNgeoadds =geoadds.query('lat =="NaN"')
display("====값을 못찾은 row수")
display(NaNgeoadds.info())
NaNgeoadds.set_index('index')
NaN2000add = NaNgeoadds.iloc[:2000]

NaN2000add

'====값을 못찾은 row수'

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1633 entries, 8847 to 13816
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      1633 non-null   int64
 1   주소         1633 non-null   object
 2   locations  1633 non-null   object
 3   lon        0 non-null      float64
 4   lat        0 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 76.5+ KB

None

       index                            주소     locations  lon  lat
8847    8847  경기도 안양동안구 비산동 평촌대로401번길 44-9  ('NA', 'NA')  NaN  NaN
8848    8848    경기도 안양동안구 비산동 경수대로883번길 87  ('NA', 'NA')  NaN  NaN
8849    8849        경기도 안양동안구 비산동 관악대로 183  ('NA', 'NA')  NaN  NaN
8850    8850         경기도 안양동안구 비산동 관악대로 73  ('NA', 'NA')  NaN  NaN
8851    8851        경기도 안양동안구 비산동 관악대로 164  ('NA', 'NA')  NaN  NaN
...      ...                           ...           ...  ...  ...
13776  13776           경기도 파주시 금촌동 금릉이길 10  ('NA', 'NA')  NaN  NaN
13779  13779        경기도 평택시 고덕동 고덕국제대로 202  ('NA', 'NA')  NaN  NaN
13806  13806       경기도 화성시 봉담읍 수기리 쇠틀길 102  ('NA', 'NA')  NaN  NaN
13811  13811       경기도 화성시 영천동 동탄첨단산업2로 88  ('NA', 'NA')  NaN  NaN
13816  13816  경기도 화성시 장안면 사곡리 밤밭일원길 131-10  ('NA', 'NA')  NaN  NaN

[1633 rows x 5 columns]

## 구굴 geo api 를 사용하여 부족한 좌표를 추가동록 작업
* 일 api호출 횟수 2500회 무료 임으로  2000회까지만 호출한다. 
  * 2000회 호출하면 10분정도 소요됨.
  * 2500회 이상호출 되면 비용 지불함.

In [ ]:
!pip install  geopandas 
!pip install geopy
#or in Colab: 
!pip install geocoder

구글api를 활용한 2000건단위 데이터조회 하기

In [ ]:
import geopandas as gpd

## geo apikey 적용 데이터 조회
location = gpd.tools.geocode(NaN2000add['주소'], provider='googlev3', api_key=GAPI_KEY)

### 좌표정보를 편지한다.

In [ ]:
## 위도, 경도 분리하여 조회하기
from shapely.geometry import Point
#location["locations"] =location.apply(location["geometry"].x,location["geometry"].y)

location["locations"] = location["geometry"].map(lambda point :"(" + str(point.x) +"," + str(point.y) +")" )
location["lon"] = location["geometry"].map(lambda point :point.x )
location["lat"] = location["geometry"].map(lambda point :point.y )

location.drop(["geometry","address"], axis=1 ,inplace=True)
location

                             locations         lon        lat
8847   (126.9472412,37.40723140000001)  126.947241  37.407231
8848          (126.9330728,37.3973874)  126.933073  37.397387
8849          (126.9444509,37.3993628)  126.944451  37.399363
8850          (126.9465756,37.4006387)  126.946576  37.400639
8851   (126.9430991,37.39839200000001)  126.943099  37.398392
...                                ...         ...        ...
13776         (126.7812692,37.7556465)  126.781269  37.755646
13779           (127.013414,37.043909)  127.013414  37.043909
13806         (126.9794356,37.2001448)  126.979436  37.200145
13811         (127.0587938,37.2098027)  127.058794  37.209803
13816         (126.8097868,37.0764502)  126.809787  37.076450

[1633 rows x 3 columns]

In [ ]:
## 저장한다.
location.to_csv('/content/drvie/MyDrive/apartHome/실거래가/location_2000.csv')

### location csv 화일을 다시 조회하여 원본데이터에 머지 한다.

In [ ]:
locationcsv= pd.read_csv('/content/drvie/MyDrive/apartHome/실거래가/location_2000.csv')
locationcsv
locationcsv.rename(columns = {'Unnamed: 0' : 'index'}, inplace = True)
locationcsv.columns
locationcsv.set_index('index')

                             locations         lon        lat
index
8847   (126.9472412,37.40723140000001)  126.947241  37.407231
8848          (126.9330728,37.3973874)  126.933073  37.397387
8849          (126.9444509,37.3993628)  126.944451  37.399363
8850          (126.9465756,37.4006387)  126.946576  37.400639
8851   (126.9430991,37.39839200000001)  126.943099  37.398392
...                                ...         ...        ...
13776         (126.7812692,37.7556465)  126.781269  37.755647
13779           (127.013414,37.043909)  127.013414  37.043909
13806         (126.9794356,37.2001448)  126.979436  37.200145
13811         (127.0587938,37.2098027)  127.058794  37.209803
13816         (126.8097868,37.0764502)  126.809787  37.076450

[1633 rows x 3 columns]

### 원본데이터 NaN row에 해당 index로 데이터를 update 한다.
   * geoadds 전체 데이터에서  locationcsv에 누락된 좌표정보를 index를 기준으로 join하여 update한다.
   * **set_index('index' ,inplace=True)**   두개의 객체에 index를 설정하여 join해야한다.

In [ ]:
geoadds = pd.read_csv('/content/drvie/MyDrive/apartHome/실거래가/서울경기아파트주소_GEO.csv')
geoadds.set_index('index' ,inplace=True)

In [ ]:
locationcsv
locationcsv.set_index('index',inplace=True)

In [ ]:

## 조인하기

geoadds.update(locationcsv)
# joindata =pd.merge(left = locationcsv, right =geoadds , left_index=True, right_index=True,how = "outer",on = "index")
# joindata

In [ ]:
geoadds

                                 주소  ...        lat
index                                ...
0             서울특별시 강남구 개포동 언주로 103  ...  37.481300
1               서울특별시 강남구 개포동 언주로 3  ...  37.483372
2             서울특별시 강남구 개포동 개포로 307  ...  37.483678
3             서울특별시 강남구 개포동 개포로 310  ...  37.483381
4               서울특별시 강남구 개포동 선릉로 7  ...  37.479257
...                             ...  ...        ...
13814        경기도 화성시 오산동 동탄감배산로 143  ...  37.195890
13815      경기도 화성시 오산동 동탄기흥로 393-20  ...  37.186650
13816  경기도 화성시 장안면 사곡리 밤밭일원길 131-10  ...  37.076450
13817   경기도 화성시 향남읍 장짐리 푸른들판로 251-8  ...  37.135798
13818   경기도 화성시 향남읍 장짐리 푸른들판로 251-6  ...  37.135798

[13819 rows x 4 columns]

###  3600개에서 1633개로 줄어듬..

In [ ]:
NaNgeoadds =geoadds.query('lat =="NaN"')
NaNgeoadds

Empty DataFrame
Columns: [주소, locations, lon, lat]
Index: []

In [ ]:
# update정보를 갱신한다.
geoadds.to_csv('/content/drvie/MyDrive/apartHome/실거래가/서울경기아파트주소_GEO.csv')